apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: k8s-sentinel
  namespace: argocd
  labels:
    app.kubernetes.io/name: k8s-sentinel
spec:
  description: k8s-sentinel admission webhook

  sourceRepos:
    - https://github.com/aslitaser/k8s-sentinel.git


  destinations:
    - server: https://kubernetes.default.svc
      namespace: sentinel

  clusterResourceWhitelist:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration

  namespaceResourceWhitelist:
    - group: ""
      kind: "*"
    - group: apps
      kind: "*"
    - group: policy
      kind: "*"
    - group: cert-manager.io
      kind: "*"

  clusterResourceBlacklist:
    - group: ""
      kind: Namespace
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
    - group: rbac.authorization.k8s.io
      kind: ClusterRole
    - group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
